* { margin: 0; padding: 0; box-sizing: border-box; }
body { 
    background: #000; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    overflow: hidden; 
}
canvas { 
    display: none;
    image-rendering: pixelated; 
}

#loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
    overflow: hidden;
}

#loadingScreen img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
}

#playButton {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    cursor: pointer;
    transition: transform 0.3s;
    background: none;
    border: none;
    z-index: 1001;
}

#playButton:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

#playButton img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#homeScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 500;
    background: #000;
    overflow: hidden;
}

#videoBackground {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
    background: #000;
}

#leftStatue {
    position: absolute;
    left: 0;
    top: 0;
    width: 23%; /* Ближе к арке */
    height: 100%;
    object-fit: cover;
    z-index: 2;
}

#rightStatue {
    position: absolute;
    right: 0;
    top: 0;
    width: 23%; /* Ближе к арке */
    height: 100%;
    object-fit: cover;
    z-index: 2;
}

#arch {
    position: absolute;
    bottom: -8%; /* Опущена ниже */
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: auto;
    object-fit: contain;
    z-index: 3;
}

#hero {
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translateX(-50%) scale(1.3);
    width: 15%;
    height: auto;
    object-fit: contain;
    z-index: 4;
    cursor: pointer;
    transition: transform 0.3s;
}

#hero:hover {
    transform: translateX(-50%) scale(1.4);
}
